node_modules

.idea
.DS_store
server/.DS_Store
/server/geojson-data/indian_village_boundaries
/server/geojson-data/*json
/server/parsed_geojson

# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target
